@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #73b9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0 30px;
}

#sorting-method {
    display: none;
}

.segmented_control {
    background-color: white;
    display: flex;
    padding: 2rem 10rem 2rem 2rem;
    border-radius: 1rem;
}

label {
    padding: 14px;
    border: 3px #5796ff solid;
    cursor: pointer;
}

label:first-of-type {
    border-right: none;
    border-radius: 8px 0 0 8px;
}

label:last-of-type {
    border-left: none;
    border-radius: 0 8px 8px 0;
}

label:hover {
    background-color: #d9e7f9;
}

input[type='radio']:checked + label {
    background-color: #5796ff;
    color: #fff;
}

input[type='radio'] {
    display: none;
}

@media screen and (max-width:420px) {
    #sorting-method {
        display: flex;
        border: 3px #5796ff solid;
        border-radius: 8px;
        outline: none;
        padding: 10px;
        font-family: inherit;
        font-size: 16px;
        width: 100%;
    }

    .container {
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 7px;
        border: 2px #dedede solid;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .segmented_control {
        display: none;
    }
}